VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=sua_chave_aqui
VITE_EMAILJS_SERVICE_ID=service_a1x68ec
VITE_EMAILJS_TEMPLATE_ID=template_x8olkkm
VITE_EMAILJS_PUBLIC_KEY=Zl7xHYzIlna9G5ST3
VITE_ADMIN_PASSWORD=sandra2024
